<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Domain" value="contoso.com"></add>
    <add key="AccessGroup" value="VPN"></add>
    
    <add key="Log" value="True"></add>
    <add key="InheritanceDetection" value="false"></add>
    <add key="ReadGroupUser" value="ReadGroup"></add>
    <add key="Password" value="1234abcd!@#$"></add>
  </appSettings>
</configuration>